@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background-color: rgb(241, 239, 229);
    color: rgba(48, 20, 6, 0.904);
    width:100%;
    margin: 0 auto;
}

/* headings and logo */

#logo{
    float: left;
    font-size: 350%;
    color:rgba(44, 22, 7, 0.692);
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 40px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;  
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgba(44, 22, 7, 0.692);
}

/* Yoga image */

#cover-text, #cover-text h2{
    color:rgb(247, 242, 239);
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 160%;
    font-weight: 200;   
}

#cover-text { 
    height: 90px;;
    width: 100%;

    padding-top: 20px;
    padding-left:20px;
    bottom: 0px;

    background-color: rgba(58, 45, 8, 0.541);
    animation-name: cover-text-slide;
    animation-duration: 2s;
    position: absolute;
}

#yogaimage {
    height: 900px;
    width: 100%;
    background: url('../images/yoga1.webp') no-repeat center center;
    background-size:100%;
    position: relative;
}

#yogaouter {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

@keyframes cover-text-slide {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/* about */

#about {
    height: 380px;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#left-about {
    padding-top: 80px;
    padding-left: 0px;
    float:left;
    width:40%
}

#right-about {
    padding-top: 60px;
    float: right;
    width: 60%
}

#right-about p{
    overflow:hidden;
    margin-top: 10px;
}

#left-about h6 {
    font-size: 160%;
}

#left-about h3 {
    font-weight: 200;
    font-size:250%;
}

#left-about h4 {
    font-weight: 600;
    font-size: 180%
}

#left-about h5 {
    padding-top: 10px;
    font-size: 90%;
}

/* Yoga image */

#yogaimagetwo {
    height: 450px;
    width:100%;
    background: url('../images/yoga2.webp') no-repeat center center;
    background-size:100%;
    position: relative;
}

#yogaoutertwo {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

/* Yoga Classes */

#yogaclasses {
    height:250px;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 50px;
    margin: 0 auto;
    text-align: center;
}

#yogaclasses h3{
    font-size: 140%;
    font-weight: 300;
}

#yogaclasses h4{
    font-weight:600;
    font-size: 120%;
    padding-top:50px;
}

/* Yoga Timetable */

#timetable {
    height:520px;
    position:relative
}

#table {
    width: 85%;
    margin: 0 auto;
    padding: 25px;
    display:grid;
    border-collapse: collapse;
    border: double;
}

th {
    font-size: 120%;
    color:white;
    background-color: rgba(44, 22, 7, 0.692);
}

tr td {table-layout: relative;
    width:150px;
    height:100px;
}

td {
    font-weight: 400;
    font-size:80%;
    background-color: white;
}

td, th {
    border: solid;
    border-width: 1px;
}

/* Yoga picture 3 */

#yogaouterthree {
    height: 600px;
    width: 130%;
    overflow:hidden;
    margin: 0;
}

#yogaimagethree {
    height: 555px;
    width: 100%;
    margin:0;
    float:left;
    background: url('../images/yoga5.jpeg') no-repeat center center;
    position: absolute;
    background-size: 100%;
}

/* Yoga Styles */

#yogastyles {
    height:530px;
    width: 85%;
    padding-left:80px;
    padding-right:20px;
}

#yogastyles hr {
    border-top: 1px solid rgb(39, 19, 3);
}

#beginners h1{
    font-weight: 400;
    padding-top: 30px;
}

#vinyasa h1{
    font-weight: 400;
    padding-top:30px;
}

#power-yoga h1 {
    font-weight:400;
    padding-top:30px;
}


/* Sign up */

#signuptoday {background-color: rgba(44, 22, 7, 0.692);
    height: 500px;
    width: 100%
}

#signup{
    float:left;
    padding-top: 40px;
    padding-left: 40px;
    color:white;
    text-align: left;
    width: 45%;   
}

#signup h1 {
    font-weight: 200;
    font-size: 45px
}

#signup h3 {
    font-size: 20px;
    font-weight:200;
}

label {
    width:100px;
    display:inline-block
}

form {
    font-size: 20px;
    padding-top:60px;
}

input[name="name"] {
    height:30px;
    width:250px;  
}

input[name="email"] {
    height:30px;
    width:250px;
}

input[name="submit"]{
    height:30px;
    width:60px;
    text-transform: uppercase;
}
    
#yogaimagefour {
    width: 45%;
    height: 85%;
    margin: 40px;
    background: url("../images/yoga6.jpeg") center center no-repeat;
    position:relative;
    float:right;
    background-size: contain;
}

/* Media Queries */

/* for larger or meduim size from 1200px*/
@media screen and (max-width:1200px) {
    #about {
        width:80%;
        height:650px;
        margin: 0 auto;
    }

    #left-about, #right-about {
        width:100%;
        float:left;   
    }

    #yogaimagetwo {
        position:relative;
    }

    #clickhere {
        clear:none;
        display:inline
    }

    #yogastyles {
        height:600px;
        padding-top:50px;  
    }

    #yogaimagethree {
        clear:none;
        height:540px;
    }

    #yogaouterthree {
        clear:none;
        height:500px;
    }

    #signuptoday {
        width:100%;
        height:700px;
    }

    #signup {
        width:30%
    }
    
    #yogaimagefour {
        width:50%;
        overflow:hidden;
        padding:0;
    }
}

/* for medium screens from 950px and down*/
@media screen and (max-width:950px) {
    #menu {
        float: left;
        clear:both;
        display: inline;
        text-align: center;
    }

    #yogaouter {
        height:600px
    }

    #yogaimage {
        height:600px
    }

    #cover-text {
        clear:both;
        margin:0 auto;
        font-size: 100%;
    }
    
    #about {
        width:90%;
        height:800px;
        padding:0;
    }

    #yogaclasses {
        height:600px;
        padding:0;
        width:90%;
        display:inline;
    }

    #timetable {
        padding:0;
        width: 100%;
        height:100%;
    }

    #table {
        width:90%;
        height:90%;
        padding-left: 20px;
        padding-bottom:10px;
        float:left;
        border:none;
        clear:none;
    }

    #clickhere {
        padding:0;
        width:100%;
        float:left
    }

    #yogaimagethree {
        clear:none;
        height:520px;
        padding:0;
        margin:0 auto;   
    }

    #yogaouterthree {
        height:400px;  
    }

    #yogastyles {
        height:850px;
        width: 90%;
        padding-left:10px;     
    }

    #signuptoday {
        width:180%;
        height:800px;
        font-size: 80%;
    }

    #yogaimagefour {
        display:none
    }
}
   
/* footer */

footer {
    height:120px;
    padding:5px
}

#social-networks {
    text-align: center;
    list-style-type: none;
    width:100%
}

#social-networks > li {
    display:inline;
}

#social-networks i {
    font-size: 170%;
    padding: 5%;
    color: rgba(48, 20, 6, 0.904);
}