@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background-color: rgb(236, 233, 219);
    color: rgba(48, 20, 6, 0.904);
    

}

/* headings and logo */

#logo{
    float: left;
    font-size: 400%;
    color:rgba(44, 22, 7, 0.692);
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 40px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;

}

#menu, #logo {
    line-height: 120px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
   
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px;
}

/* Yoga image */

#cover-text, #cover-text h2{
    color:rgb(247, 242, 239);
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 160%;
    font-weight: 200;
    
}

#cover-text {
   
    height: 90px;;
    width: 100%;

    padding-top: 20px;
    padding-left:20px;
    bottom: 0px;

    background-color: rgba(58, 45, 8, 0.541);
    animation-name: cover-text-slide;
    animation-duration: 2s;
    position: absolute;



}

#yogaimage {
    height: 900px;
    width: 100%;
    background: url('../images/yoga1.webp') no-repeat center center;
    position: absolute;

}

#yogaouter {
    height: 900px;
    width: 100%;
    overflow: hidden;
}


@keyframes cover-text-slide {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/* about */

#about {
    height:380px;
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

#left-about {
    padding-top: 80px;
    padding-left: 0px;
    float:left;
    width:40%
}

#right-about {
    padding-top: 60px;
    float: right;
    width: 60%
}

#right-about p{
    overflow:hidden;
    margin-top: 10px;
}

#left-about h6 {
    font-size: 160%;
}

#left-about h3 {
    font-weight: 200;
    font-size:250%;
}

#left-about h4 {
    font-weight: 600;
    font-size: 180%
}

/* Yoga image */

#yogaimagetwo {
    height: 450px;
    width:100%;
    background: url('../images/yoga2.webp') no-repeat center center;
    background-size:100%;
    position: relative;
}

#yogaoutertwo {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

/* Yoga Classes */

#yogaclasses {
    height:250px;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 50px;
    width:650px
    margin 0 auto;
    text-align: center;
}

#yogaclasses h3{
    font-size: 140%;
    font-weight: 300;
}

#yogaclasses h4{
    font-weight:600;
    font-size: 120%;
    padding-top:50px;
}

/* Yoga Timetable */

#timetable {
    height:580px;
    position:relative
}

#table {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display:grid;
    border-collapse: collapse;
    border: double;
}

th {
    font-size: 120%;
    color:white;
    background-color: rgba(44, 22, 7, 0.692);
}



tr td {table-layout: relative;
    width:150px;
    height:100px;
}

td {
    font-weight: 400;
    font-size:80%;
    background-color: white;

}
td, th {
    border: solid;
    border-width: 1px;
   }


/* contact us */
#yogaouterthree {
    height: 600px;
    width: 130%;
    overflow:hidden;
    margin: 0;
}

#yogaimagethree {
    height: 520px;
    width: 1300px;
    margin:0;
    float:left;
    background: url('../images/yoga5.jpeg') no-repeat center center;
    position: absolute;
    background-size: 100%;

}

    
   /* footer */



   footer {
    height:150px;
    width:100%;

   
   }
    
   