@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Poppins:wght@100;200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background-color: rgb(236, 233, 219);
    color: rgba(48, 20, 6, 0.904)

}

/* headings and logo */

#logo{
    float: left;
    font-size: 400%;
    color:rgba(44, 22, 7, 0.692);
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 40px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;

}

#menu, #logo {
    line-height: 120px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
   
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px;
}

/* Yoga image */

#cover-text, #cover-text h2{
    color:rgb(247, 242, 239);
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 160%;
    font-weight: 200;
    
}

#cover-text {
   width: 100%;
    height:90px;

    padding-top: 20px;
    padding-left: 40px;
    
    bottom: 30px;
left: 0px;
background-color: rgba(58, 45, 8, 0.541);
animation-name: cover-text-slide;
animation-duration: 2s;
position: absolute;



}

#yogaimage {
    height: 900px;
    width: 100%;
    background: url('../images/yoga1.webp') no-repeat center center;
    position: relative;

}

#yogaouter {
    height: 900px;
    width: 100%;
    overflow: hidden;
}

@keyframes cover-text-slide {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* about */

#about {
    height:600px;
    padding-left: 50px;

}

#left-about {
    padding-top: 100px;
    padding-left: 75px;
    float:left;
}

#right-about {
    padding-top: 100px;
    padding-right: 50px;
    float: right;
    width:650px
    
}

#right-about p{
    overflow:hidden;
}

#left-about h6 {
    font-size: 160%;
}

#left-about h3 {
    font-weight: 200;
    font-size:250%;
}

#left-about h4 {
    font-weight: 600;
    font-size: 180%
}